# Google Cloud Configuration
GOOGLE_CLOUD_PROJECT=your-project-id

# Optional: Environment-specific configuration
NODE_ENV=development

# Auth0 Configuration
AUTH0_DOMAIN=your-auth0-domain.auth0.com
AUTH0_CLIENT_ID=your-auth0-client-id
AUTH0_AUDIENCE=https://your-api-domain.com
AUTH0_API_URI=https://your-api-domain.com
AUTH0_APP_URI=https://your-app-domain.com
AUTH0_REDIRECT_URI=https://your-app-domain.com/audits
AUTH0_ERROR_PATH=/error

#Pusher configuration
PUSHER_APP_ID=pusher-app-id
PUSHER_KEY=pusher-key
PUSHER_SECRET=pusher-secret
PUSHER_CLUSTER=pusher-cluster